body {
        max-width: 700px;
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        border: 20px solid #bdc3c7;
        font-family: 'Source Sans Pro', sans-serif;


}

.post {
        margin-bottom: 20px;
}
h2 {
        color: #2c3e50;
        font-size: 2.0rem;
}

.date {
        color: #3498db;
        text-transform: uppercase;
         letter-spacing: 0.2rem;
}

.quote {
        border-left: 5px solid #bdc3c7;
        padding-left: 5px;
}

hr {

}
